# Directorios de entornos de desarrollo/dependencias
venv/
node_modules/
.vscode/

# Directorios de compilación y salida
build/
dist/

# Ignora la carpeta __pycache__ en cualquier nivel
__pycache__/
*/__pycache__/

# Opcional: Ignora los archivos .pyc directamente (están dentro de __pycache__)
*.pyc 

# Directorios de registros
logs/